<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="/listings">Explore</a>
          
        </div>  
        <div class="search-bar ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <%if(!currUsr){%>
<a class="btn btn-outline-success"  href="/signup">Sign Up</a>
          <a class="btn btn-outline-primary" href="/login">Log In </a>
          <%}%>
          <%if(currUsr){%>
           <a class="btn btn-outline-danger" href="/logout">Log Out</a>
           <%}%>
        </div> 
      </div>
    </div>
  </nav>