<% layout('/layouts/boilerplate') -%>
<body>
  <h1 class="mt-3">Create New List</h1>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 m-auto">
      <form
        method="post"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            placeholder="Enter Title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid title.</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            placeholder="Enter Description"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter description.</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-lable">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Image link is optional.</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              name="listing[price]"
              class="form-control"
              placeholder="Enter Price"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid price.</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              placeholder="Enter Country"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="Enter Location"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid location.</div>
        </div>

        <button class="btn btn-dark mt-3">Add</button>
      </form>
    </div>
  </div>
  <br />
  <br />
</body>
