body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: aquamarine;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
color: #222222 !important;
}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin:0rem 1rem 0rem 1rem;
}
.f-info-links a :hover{
    text-decoration: underline;
}


.f-info{
    text-align: center;
    height: 8rem;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}

.f-info-social,
.f-info-links,
.f-info-brand{
    width: 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    

}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Cards */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Show Page */
.show-image{
    height: 40vh;
}
.modify{
    display: flex;
    justify-content: space-between;
}

/* Map */
#map {
    height: 400px;
    width: 100%; 
}


